<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.fzi.aoide.replica.app.server"
         name="ReplicaOntology Server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.fzi.aoide.replica.app.server.ServerEclipseImpl">
         </run>
      </application>
   </extension>
   <extension
         id="de.fzi.aoide.replica.app.client"
         name="ReplicaOntology Client"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.fzi.aoide.replica.app.client.ClientEclipseImpl">
         </run>
      </application>
   </extension>
</plugin>
