<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
 <!--
 Commands
 -->
 <!--
 <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.neontoolkit.gui.navigatorCategory"
            name="Navigator Category">
      </category>
      <command
            categoryId="org.neontoolkit.gui.navigatorCategory"
            description="Creates new elements in the OntologyNavigator"
            id="org.neontoolkit.gui.navigator.newCommand"
            name="Create entity">
      </command>
 </extension>
 -->
  <!--
  Handlers
  -->
  <!--
 <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.fzi.aoide.replica.neonplugin.navigator.NewOWLReplicaOntologyHandler"
            commandId="org.neontoolkit.gui.navigator.newCommand">
         <activeWhen>
            <reference
                  definitionId="com.ontoprise.ontostudio.owl.gui.navigator.oneProjectSelected">
            </reference>
         </activeWhen>
      </handler>
 </extension>
 -->
 <!-- 
 Menu entries
 -->
 <!--
 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.neontoolkit.gui.views.navigator?after=navigator.new">
         <command
               commandId="org.neontoolkit.gui.navigator.newCommand"
               icon="icons/onto/ontology.gif"
               label="Blub"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.ontoprise.ontostudio.owl.gui.navigator.oneProjectSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
 </extension>
 -->
 <!--
 Wiazards
  -->
  
	<extension 
   		point="org.eclipse.ui.newWizards"
   		id="new">
      <category
            name="OWL2 Replica"
            id="NewOWL2ReplicaWizard">
      </category>
      <wizard
            name="OWL2 Replica Development Project"
            icon="icons/ontoprj_obj.gif"
            category="NewOWL2ReplicaWizard"
            class="de.fzi.aoide.replica.neonplugin.wizard.NewReplicaProjectWizard"
            project="true"
            id="de.fzi.aoide.replica.neonplugin.wizard.NewReplicaProjectWizard">
      </wizard>
      <wizard
            name="OWL2 Replica"
            icon="icons/ontology.gif"
            category="NewOWL2ReplicaWizard"
            class="de.fzi.aoide.replica.neonplugin.wizard.NewReplicaWizard"
            id="de.fzi.aoide.replica.neonplugin.wizard.NewReplicaWizard">
      </wizard>
      <!--<wizard
            name="OWL2 ReplicaOntology"
            icon="icons/ontology.gif"
            category="NewOWL2OntologyWizard"
            class="de.fzi.aoide.replica.neonplugin.wizard.NewReplicaOntologyWizard"
            id="de.fzi.aoide.replica.neonplugin.wizard.NewReplicaOntologyWizard">
      </wizard>-->
   </extension>
   
   <!-- 
   Projects 
   -->
   
   <extension
       point="org.neontoolkit.core.ontologyProject">
    <factory
          class="de.fzi.replica.neonplugin.commands.ReplicaProjectFactory"
          id="de.fzi.aoide.replica.neonplugin.commands.ReplicaProjectFactory">
    </factory>
 </extension>
</plugin>
